.cart-item {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.amount {
  padding: 1.2rem;
  cursor: pointer;
  min-width: 10%;
  max-width: 10%;
}
.title {
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 40%;
  max-width: 40%;
}
.total-price {
  color: rgb(107, 221, 123);
}
